@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Skills", "Index","Skills")
</div>
<div>
    @Html.ActionLink("Add skills to user", "AddSkills", "User")
</div>
<div>
    @Html.ActionLink("FeedBack", "GiveFeedBack", "User")
</div>
<div>
    @Html.ActionLink("View User Details", "ViewDetails", "User")
</div>
<div>
    @Html.ActionLink("Add Qualifications", "AddQualifications", "User")
</div>
<div>
    @Html.ActionLink("Chat", "ChatIndex", "Chat")
</div>