@model ThidasaAssignemnt.Models.ViewEmployeeDetails
@{
    ViewBag.Title = "ViewDetails";
}

<h2>View Details</h2>
<h3>View Qualifications</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Qualifications)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Qualifications)
    {
        <tr>
            <td>
                @Html.DisplayFor(x=>x.Name)
            </td>
        
        </tr>
    }

</table>
<hr/>
<h3>View Comments</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @item
            </td>

        </tr>
    }

</table>
<hr />
<h3>View Skills</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Skills)
    {
        <tr>
            <td>
                @item
            </td>

        </tr>
    }

</table>
<hr/>
@Html.ActionLink("Home", "Index", "Home")

